* {
    padding: 0px;
    margin: 0px;
    font-family: "Oswald";
    box-sizing: border-box;
}

body {
    background: white;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.movieMenu::-webkit-scrollbar{width:5px}
.movieMenu::-webkit-scrollbar-track{background:#aaa;;}
.movieMenu::-webkit-scrollbar-thumb{background:gray;}

.loginForm {
    width: 400px;
    height: 360px;
    background: #eee;
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
}

.loginContainer {
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-box-shadow: 0px 0px 23px 9px rgba(184,184,184,1);
    -moz-box-shadow: 0px 0px 23px 9px rgba(184,184,184,1);
    box-shadow: 0px 0px 23px 9px rgba(184,184,184,1);
    z-index: 10;
}

.loginMsg {
    color: black;
    font-size: 40px;
    background: #ddd;
    height: 100px;
    padding-top: 30px;
    color: black;
}

.loginInput {
    display: block;
    width: 355px;
    height: 40px;
    margin-left: 20px;
    font-size: 18px;
    border: none;
    padding-left: 5px;
    margin-top: 10px;
    background: #ddd;
}

.loginSubmit {
    width: 355px;
    margin-left: -5px;
    height: 40px;
    background: #ddd;
    color: black;
    font-size: 20px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.errorMsg {
    width: 100%;
    height: 40px;
    color: red;
    font-size: 20px;
    text-align: center;
    z-index: 9;
}


/* Admin page */

.movieMenu {
    width: 400px;
    height: calc(100% - 120px);
    position: fixed;
    background: #ccc;
    left: 0px;
    bottom: 0px;
    direction: rtl;
    overflow-y: scroll;
}

.movieMenu > * {
    direction: ltr;
}

.menuBtn {
    width: 100%;
    height: 50px;
    display: block;
    background: linear-gradient(90deg, #eee 50%, #ddd 50%);
    background-size: 200%;
    background-position: 100%;
    font-size: 20px;
    outline: none;
    border: none;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    text-align: left;
    cursor: pointer;
    transition: 0.2s all;
}

.menuBtn:hover {
    padding-left: 15px;
}

.active {
    background-position: 0%;
    height: 70px;
    padding-top: 20px;
}

.searchBox {
    width: 100%;
    height: 60px;
    display: block;
    background: #aaa;
    font-size: 20px;
    outline: none;
    border: none;
    margin-bottom: 0px;
    padding-left: 5px;
}

.contentViewer {
    width: calc(100% - 400px);
    height: calc(100% - 60px);
    position: fixed;
    right: 0px;
    bottom: 0px;
    background: #eee;
}

.nav {
    height: 60px;
    width: 100%;
    background: #ddd;
}

.navLink {
    width: 60px;
    height: 60px;
    position: absolute;
    background: #ddd;
    transition: 0.2s all;
    cursor: pointer;
}

.navIcon {
    transform: rotate(180deg);
    margin-top: 5px;
    margin-left: 5px;
    color: #cc0000;
}

/* Tooltip code */

.navLink .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  opacity: 0.8;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  left: calc(100% + 5px);
  top: 12px;
}

.navLink:hover {
    background: #ccc;
}

.navLink:hover .tooltiptext {
  visibility: visible;
}

/* Editor Code */

.editor {
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}

.editContainerSmall {
    width: 100%;
    height: 50px;
    position: relative;
}

.editContainerLarge {
    width: 100%;
    height: 200px;
    position: relative;
}

.editName {
    display: inline;
    position: absolute;
    height: 100%;
    font-size: 30px;
    width: 200px;
    text-align: right;
}

.editTextSmall {
    position: absolute;
    top: 10px;
    width: 250px;
    left: 205px;
    height: 30px;
    font-size: 20px;
    border: 2px solid gray;
    padding: 5px;
    border-radius: 5px;
}

.editTextLarge {
    position: absolute;
    width: 250px;
    top: 10px;
    left: 205px;
    height: 180px;
    font-size: 20px;
    padding: 5px;
    border: 2px solid gray;
    resize: none;
    border-radius: 5px;
}

.editCheckbox {
    position: absolute;
    top: 10px;
    left: 205px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    border: 2px solid gray;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}































/*easier to code */
