/* Darkest: #141414 */
/* Dark: #191919 */
/* Lightest: #222 */
/*even lighter: #383838 */


* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.resultsContainer:hover {
    color: rgb(0, 130, 230, 0.3);
}

.loading {
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.8);
}

.loading img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}

.loading2 {
    display: none;
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.95);
}

.loading2 img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}

/* --------------------- Nav bar -------------------- */
.linkContainer {
    position: absolute;
    left: 130px;
    top: 10px;
    height: 40px;
}

.navContainer {
    width: 100%;
    height: 60px;
    background: #141414;
    position: fixed;
    top: 0px;
}

.navBtn {
    font-size: 18px;
    padding: 10px;
    position: relative;
    padding-left: 14px;
    padding-right: 14px;
    float: left;
    color: white;
    cursor: pointer;
    transition: 0.2s all;
    user-select: none;
    outline: none;
    text-decoration: none;
}

.navBtn:hover {
    color: rgb(0,130,230);
}

.navBtn:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 0px;
    left: 10px;
    bottom: 4px;
    background: rgb(0,130,230);
    transition: 0.2s all;
}

.active.navBtn:after {
    width: calc(100% - 20px);
}

.navLogo {
    margin-top: 15px;
    margin-left: 15px;
}

#upcoming  {
    color: gray;
}

.searchBox {
    width: 400px;
    position: fixed;
    right: 100px;
    height: 30px;
    top: 15px;
    color: white;
    border-bottom: 2px solid white;
}

.searchInput {
    width: 90%;
    height: 100%;
    position: absolute;
    border: 0;
    appearance: none;
    outline: none;
    font-size: 22px;
    padding-left: 5px;
    background: none;
    color: inherit;
}

.searchBtn {
    width: 10%;
    height: 100%;
    position: absolute;
    right: 0px;
    border: 0;
    appearance: none;
    outline: none;
    cursor: pointer;
    background: none;
    color: inherit;
}

.testBtn {
    position: fixed;
    right: 10px;
    top: 10px;
    height: 40px;
    background: black;
    color: white;
    font-size: 40px;
    cursor: pointer;
    z-index: 9999;
}




/* ---------------------- Viewport Etc ---------------- */
.viewport {
    width: 100%;
    height: calc(100% - 60px);
    top: 60px;
    position: fixed;
    background: #222;
    text-align: center;
}

.resultsContainer {
    position: absolute;
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: scroll;
    color: #333;
    transition: color .3s ease;
    overflow-y: scroll;
    background: #383838;
}

.searchResult {
  background: #222;
  width: 260px;
  height: 420px;
  text-align: center;
  font-size: 40px;
  margin: 10px;
  color: white;
}

.resultImg {
  width: 100%;
  height: calc(100% - 25px);
  cursor: pointer;
}

.resultTitle {
  background: #222;
  width: calc(100% - 10px);
  line-height: 25px;
  height: 25px;
  font-size: 20px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  bottom: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}







































/* Easier to code :p */
