/* Darkest: #141414 */
/* Dark: #191919 */
/* Lightest: #222 */


* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

/* --------------------- Nav bar -------------------- */
.linkContainer {
    position: absolute;
    left: 130px;
    top: 10px;
    height: 40px;
}

.navContainer {
    width: 100%;
    height: 60px;
    background: #141414;
    position: fixed;
    top: 0px;
}

.navBtn {
    font-size: 18px;
    padding: 10px;
    position: relative;
    padding-left: 14px;
    padding-right: 14px;
    float: left;
    color: white;
    cursor: pointer;
    transition: 0.2s all;
    user-select: none;
}

.navBtn:hover {
    color: rgb(0,130,230);
}

.navBtn:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 0px;
    left: 10px;
    bottom: 4px;
    background: rgb(0,130,230);
    transition: 0.2s all;
}

.active.navBtn:after {
    width: calc(100% - 20px);
}

.navLogo {
    margin-top: 15px;
    margin-left: 15px;
}

.testBtn {
    position: fixed;
    right: 10px;
    top: 10px;
    height: 40px;
    background: black;
    color: white;
    font-size: 40px;
    cursor: pointer;
}


/* ---------------------- Viewport Etc ---------------- */
.viewport {
    width: 100%;
    height: calc(100% - 60px);
    top: 60px;
    position: fixed;
    background: #222;
}


































/* Easier to code :p */
